{% if pages > 1 %}
    <p class="text-muted">Displaying results {{ offset + 1 }} to {{ offset + count }} of {{ total }}</p>
    <nav>
        <ul class="pagination pagination-sm">
            {% if page > 1 %}
                <li>
                    <a href="{{ url('search', {'page': page - 1, 'search': search }) }}" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
            {% endif %}
            {% for i in 1..pages %}
                <li {% if i == page %} class="active" {% endif %}><a href="{{ url('search', {'page': i, 'search': search }) }}">{{ i }}</a></li>
            {% endfor %}
            {% if page < pages %}
                <li>
                    <a href="{{ url('search', {'page': page + 1, 'search': search }) }}" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            {% endif %}
        </ul>
    </nav>
{% endif %}