<div id="ratingBox">
    <a class="clearRatingButton" href="{{ url('add_comic', { 'comicId': comic.0.id, 'action': 'rating', 'rating': 0, 'return': 'comic', 'returnId' : comic.0.id }) }}"
       title="Remove Rating">
        <span class="glyphicon glyphicon glyphicon glyphicon-remove" aria-hidden="true"></span>
    </a>
    <a class="glyphButton" href="{{ url('add_comic', { 'comicId': comic.0.id, 'action': 'rating', 'rating': 1, 'return': 'comic', 'returnId' : comic.0.id }) }}"
       title="1 Star">
        {% if rating > 0 %}
            <span class="glyphicon glyphicon glyphicon-star" aria-hidden="true"></span>
        {% else %}
            <span class="glyphicon glyphicon glyphicon-star-empty" aria-hidden="true"></span>
        {% endif %}
    </a>
    <a class="glyphButton" href="{{ url('add_comic', { 'comicId': comic.0.id, 'action': 'rating', 'rating': 2, 'return': 'comic', 'returnId' : comic.0.id }) }}"
       title="2 Stars">
        {% if rating > 1 %}
            <span class="glyphicon glyphicon glyphicon-star" aria-hidden="true"></span>
        {% else %}
            <span class="glyphicon glyphicon glyphicon-star-empty" aria-hidden="true"></span>
        {% endif %}
    </a>
    <a class="glyphButton" href="{{ url('add_comic', { 'comicId': comic.0.id, 'action': 'rating', 'rating': 3, 'return': 'comic', 'returnId' : comic.0.id }) }}"
       title="3 Stars">
        {% if rating > 2 %}
            <span class="glyphicon glyphicon glyphicon-star" aria-hidden="true"></span>
        {% else %}
            <span class="glyphicon glyphicon glyphicon-star-empty" aria-hidden="true"></span>
        {% endif %}
    </a>
    <a class="glyphButton" href="{{ url('add_comic', { 'comicId': comic.0.id, 'action': 'rating', 'rating': 4, 'return': 'comic', 'returnId' : comic.0.id }) }}"
       title="4 Stars">
        {% if rating > 3 %}
            <span class="glyphicon glyphicon glyphicon-star" aria-hidden="true"></span>
        {% else %}
            <span class="glyphicon glyphicon glyphicon-star-empty" aria-hidden="true"></span>
        {% endif %}
    </a>
    <a class="glyphButton" href="{{ url('add_comic', { 'comicId': comic.0.id, 'action': 'rating', 'rating': 5, 'return': 'comic', 'returnId' : comic.0.id }) }}"
       title="5 Stars">
        {% if rating > 4 %}
            <span class="glyphicon glyphicon glyphicon-star" aria-hidden="true"></span>
        {% else %}
            <span class="glyphicon glyphicon glyphicon-star-empty" aria-hidden="true"></span>
        {% endif %}
    </a>
</div>