<div id="searchWidget" class="row">
    <div class="panel panel-default">
        <div class="panel-heading">Search for comics</div>
        <div class="panel-body">
            {{ form_start(form) }}
            {% form_theme form 'bootstrap_3_horizontal_layout.html.twig' %}
            {{ form_widget(form) }}
            {{ form_end(form) }}
        </div>
    </div>
</div>