<!DOCTYPE html>
<html>
    <head>
        {% block head %}
            <meta charset="UTF-8" />
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <title>{% block title %}Marvel Unlimited Companion{% endblock %}</title>
            {% block stylesheets %}
                <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}" />
                <link rel="stylesheet" href="{{ asset('css/bootstrap-theme.min.css') }}" />
                <link rel="stylesheet" href="{{ asset('css/marvel.css') }}" />
            {% endblock %}
            <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
            <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
            <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
            <![endif]-->
        {% endblock %}
    </head>
    <body>
        {% include('nav.html.twig') %}
        {% block body %}{% endblock %}
        {% include('footer.html.twig') %}
        {% block javascripts %}
            <script src="{{ asset('js/jquery-2.2.3.min.js') }}"></script>
            <script src="{{ asset('js/bootstrap.min.js') }}"></script>
            <!-- Load Facebook SDK for JavaScript -->
            <div id="fb-root"></div>
            <script>(function(d, s, id) {
                    var js, fjs = d.getElementsByTagName(s)[0];
                    if (d.getElementById(id)) return;
                    js = d.createElement(s); js.id = id;
                    js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1";
                    fjs.parentNode.insertBefore(js, fjs);
                }(document, 'script', 'facebook-jssdk'));</script>
        {% endblock %}
    </body>
</html>
