<footer class="footer">
    <div class="container">
        <p class="text-muted">Site by <a href="http://matthamm.com.au">Matt Hamm</a>
            {% if attribution is defined %}
                | {{ attribution|raw }}
            {% endif %}
        </p>
    </div>
    {% if app.environment == 'prod' %}
        <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

            ga('create', 'UA-77936950-1', 'auto');
            ga('send', 'pageview');

        </script>
    {% endif %}
</footer>