<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ url('homepage') }}">Marvel Unlimited Companion</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                {#<li><a href="{{ url('search') }}">Comic Search</a></li>#}
                {#<li><a href="{{ url('characters') }}">Character Search</a></li>#}
                {#<li><a href="{{ url('fos_user_profile_show') }}">User</a></li>#}
            </ul>
            <ul class="nav navbar-nav navbar-right">
                {% if app.user %}
                    <li><a href="{{ url('my_comics') }}">My Comics</a></li>
                {% endif %}
                <li><a href="{{ url('about') }}">About</a></li>
                {% if app.user %}
                    <li><a href="{{ url('fos_user_profile_show') }}">Profile</a></li>
                {% else %}
                    <li><a href="{{ url('fos_user_profile_show') }}">Log In / Register</a></li>
                {% endif %}
                {% if is_granted('ROLE_ADMIN') %}
                    <li><a href="{{ url('admin_tools') }}">Admin Tools</a></li>
                {% endif %}
            </ul>
            {#<form class="navbar-form navbar-right" action="{{ url('search') }}" method="GET">#}
                {#<input type="text" class="form-control" placeholder="Search for comics..." name="search">#}
            {#</form>#}
        </div>
    </div>
</nav>