<div class="col-md-4" id="sidebar">
    <div class="panel panel-default">
        <div class="panel-heading">Sidebar stuff</div>
        <div class="panel-body">
            Something cool will go here, eventually
        </div>
    </div>
</div>