{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div class="container">
            <div id="aboutpage">
                <h1>Marvel Unlimited Companion</h1>
                <h2>Made by Matt Hamm</h2>
                <h3>A work in progress</h3>
            </div>
        </div>
    </div>
{% endblock %}