{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div class="container">
            <div id="errorpage">
                <h1>An error has occurred! Sorry about that, please either click the back button and try again, or you can use the nav bar at the top of the papge to try something else?</h1>
            </div>
        </div>
    </div>
{% endblock %}

{% block title %}Error - Marvel Unlimited Companion{% endblock %}