{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div class="container">
            {#<div id="frontpage">#}
                {#<h1>Marvel Unlimited Companion</h1>#}
                {#<h2>Rate and keep track of comics that you've read<br>#}
                {#Add issues you want to read to your watch list<br>#}
                {#Mark your favourite issues for reference</h2>#}
                {#{{ include('elements/search-box.html.twig') }}#}
            {#</div>#}
            <br>
            <div class="jumbotron">
                <h1>Marvel Unlimited Companion</h1>
                <ul>
                    <li>Rate and keep track of comics that you've read</li>
                    <li>Add issues you want to read to your watch list</li>
                    <li>Mark your favourite issues for reference</li>
            </div>
            {{ include('elements/search-box.html.twig') }}
        </div>
    </div>
{% endblock %}