{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div class="container">
            <div id="adminpage">
                <h1>Admin Tools</h1>
                <ul>
                    <li>
                        <a href="{{ url('orphans') }}">Find orphaned comics</a>
                    </li>
                    <li>
                        <a href="{{ url('import_comics') }}">Import comics from Marvel API manually (don't do this unless testing)</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}

{% block title %}Admin Tools - Marvel Unlimited Companion{% endblock %}