{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div class="container">
            <div id="adminpage">
                <h1>Import Comics</h1>
                <p>This must be done at the command line. But just FYI:</p>
                <p>Total number of comics: {{ total }}</p>
            </div>
        </div>
    </div>
{% endblock %}

{% block title %}Import Comics - Marvel Unlimited Companion{% endblock %}