{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div class="container">
            <div id="adminpage">
                <h1>Orphaned Comics</h1>
                {% if orphans %}
                    <p>There are {{ orphans|length }} orphaned comics</p>
                    <ul>
                        <li>
                            <a href="{{ url('delete_orphans') }}">Delete 'em!</a> - Maybe make a backup before you do this, hey?
                        </li>
                        <li>
                            <a href="{{ url('fetch_orphans') }}">Try to pull down the data for 'em!</a> - From Marvel
                        </li>
                    </ul>
                    <p>Summary:</p>
                    <ul class="list-group">
                        {% for orphan in orphans %}
                            <li class="list-group-item">{{ orphan.comicId }}</li>
                        {% endfor %}
                    </ul>
                {% else %}
                    <h2>There are no orphaned comics at this time</h2>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}

{% block title %}Orphaned Comics - Marvel Unlimited Companion{% endblock %}