{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div class="container">
            <h1>{{ app.user.username }}'s Comics</h1>
            <div class="row">
                <div class="col-lg-6">
                    <h4>Read</h4>
                    {% if comicsRead %}
                        <ul class="list-group">
                        {% for series,comics in comicsRead %}
                            <li class="list-group-item">
                                <span class="badge">{{ comics|length }}</span>
                                {{ series }}
                                <ul>
                                    {% for comic in comics %}
                                        <li>
                                            <a href="{{ url('comic', {'comicId': comic.marvelId}) }}">{{ comic.title }}</a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </li>
                        {% endfor %}
                        </ul>
                    {% else %}
                        <p>You haven't read any comics yet!</p>
                    {% endif %}
                </div>
                <div class="col-lg-6">
                    <h4>Watching</h4>
                    {% if comicsWatched %}
                        <ul class="list-group">
                            {% for series,comics in comicsWatched %}
                                <li class="list-group-item">
                                    <span class="badge">{{ comics|length }}</span>
                                    {{ series }}
                                    <ul>
                                        {% for comic in comics %}
                                            <li>
                                                <a href="{{ url('comic', {'comicId': comic.marvelId}) }}">{{ comic.title }}</a>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </li>
                            {% endfor %}
                        </ul>
                    {% else %}
                        <p>You aren't watching any comics yet!</p>
                    {% endif %}
                </div>
                <div class="col-lg-6">
                    <h4>Favourites</h4>
                    {% if comicsFavourited %}
                        <ul class="list-group">
                            {% for series,comics in comicsFavourited %}
                                <li class="list-group-item">
                                    <span class="badge">{{ comics|length }}</span>
                                    {{ series }}
                                    <ul>
                                        {% for comic in comics %}
                                            <li><a href="{{ url('comic', {'comicId': comic.marvelId}) }}">
                                                {{ comic.title }}</a>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </li>
                            {% endfor %}
                        </ul>
                    {% else %}
                        <p>You don't have any favourite comics yet!</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block title %}My Comics - Marvel Unlimited Companion{% endblock %}