/* This is the base CSS for the library */

/* Colour key

gray-blue: #565B70;
light-gray-blue: #9CBBB5;
green-blue: #004A4F;
red: #750A00;
blackish: #141414;

*/

/* Misc */

body {
    padding-top: 50px;
}

h1 { font-size: 24px; line-height: 20px; }
h2 { font-size: 18px; line-height: 20px; }
h3 { font-size: 16px; line-height: 20px; }
h4 { font-size: 12px; line-height: 10px; }
h5 { font-size: 11px; line-height: 10px; }
h6 { font-size: 10px; line-height: 10px; }

.jumbotron .h1, .jumbotron h1 {
    font-size: 32px; line-height: 25px;
}

/* Navigation */


/* Homepage */

#frontpage, #errorpage, #searchpage {
    padding: 15px 0px;
}

.navbar-inverse {
    background-image: -webkit-linear-gradient(top, darkred 0,#222 100%);
    background-image: -o-linear-gradient(top, darkred 0,#222 100%);
    background-image: -webkit-gradient(linear,left top,left bottom,from(darkred),to(#222));
    background-image: linear-gradient(to bottom, darkred 0,#222 100%);
}

.footer {
    text-align: right;
}

/* push content down */

#comic {
    margin-top: 20px;
}

#sidebar {
    margin-top: 20px;
}

.glyphButton, .glyphButton:visited {
    font-size: 20px;
    color: #b92c28;
    text-decoration: none;
}

.glyphButton.active, .glyphButton.active:visited {
    color: darkgreen;
}

.glyphButton:hover, .glyphButton:active, .glyphButton:focus {
    color: black;
    text-decoration: none;
}

.clearRatingButton {
    font-size: 10px;
    color: black;
    text-decoration: none;
    top: -4px;
    margin-right: 5px;
    position: relative;
}

#searchWidget {
    margin-top: 20px;
}