{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div class="container">
            <div id="comic">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="media">
                            <div class="media-body">
                                <h1 class="media-heading">{{ comic.0.title }}</h1>
                                <p>{{ comic.0.description|raw }}</p>
                                <div>
                                    <a href="{{ url('add_comic', {'comicId': comic.0.id, 'action': 'read', 'return': 'comic', 'returnId' : comic.0.id }) }}">
                                        {% if read %}
                                            Mark as unread
                                        {% else %}
                                            Mark as read
                                        {% endif %}
                                    </a>
                                    &nbsp;|&nbsp;
                                    <a href="{{ url('add_comic', {'comicId': comic.0.id, 'action': 'watch', 'return': 'comic', 'returnId' : comic.0.id }) }}">
                                        {% if watched %}
                                            Remove from watch list
                                        {% else %}
                                            Add to watch list
                                        {% endif %}
                                    </a>
                                    &nbsp;|&nbsp;
                                    <a href="{{ url('add_comic', {'comicId': comic.0.id, 'action': 'favourite', 'return': 'comic', 'returnId' : comic.0.id }) }}">
                                        {% if favourited %}
                                            Remove from favourites
                                        {% else %}
                                            Add to favourites
                                        {% endif %}
                                    </a>
                                </div>
                                <br>
                                {{ include('elements/rating.html.twig') }}
                                <br>
                                <!-- Your share button code -->
                                <div class="fb-share-button"
                                     data-href="{{app.request.uri}}"
                                     data-layout="button_count">
                                </div>
                            </div>
                            <div class="media-right">
                                {% if comic.0.images %}
                                    <img class="media-object" src="{{ comic.0.images.0.path ~ "/portrait_uncanny." ~ comic.0.images.0.extension }}" alt="{{ comic.0.title }}">
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block title %}{{ comic.0.title }} - Marvel Unlimited Companion{% endblock %}

{% block head %}
    {{ parent() }}
    <!-- Facebook Open Graph Stuff -->
    <meta property="og:url"           content="{{app.request.uri}}" />
    <meta property="og:type"          content="comic" />
    <meta property="og:title"         content="{{ comic.0.title }}" />
    <meta property="og:description"   content="{{ comic.0.description }}" />
    <meta property="og:image"         content="{{ comic.0.images.0.path ~ "/portrait_uncanny." ~ comic.0.images.0.extension }}" />
{% endblock %}