{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div class="container">
            <div id="welcome">
                <h1>{{ count }} results found</h1>
                <ul class="list-group">
                    {% for comic in comics %}
                        <li class="list-group-item"><a href="">{{ comic.title }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}

{% block title %}Comic Search - Marvel Unlimited Companion{% endblock %}