{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div class="container">
            <div class="row">
                <div id="event" class="col-md-8">
                    {% if count is defined %}
                        <h1>{{ total }} issues in {{ search }}</h1>
                        {{ include('elements/pagination.html.twig') }}
                        <ul class="list-group">
                            {% for comic in comics %}
                                <li class="list-group-item"><a href="{{ url('comic', {'comicId': comic.id}) }}">{{ comic.title }}</a>
                                    <span class="pull-right">
                                        <a class="glyphButton {% if comic.read %}active {% endif %}" href="{{ url('add_comic', {'comicId': comic.id, 'action': 'read', 'return': 'event', 'returnId' : app.request.get('eventId') }) }}">
                                            <span class="glyphicon glyphicon-duplicate" aria-hidden="true" title="Add to read"></span>
                                        </a>
                                        &nbsp;|&nbsp;
                                        <a class="glyphButton {% if comic.watched %}active {% endif %}" href="{{ url('add_comic', {'comicId': comic.id, 'action': 'watch', 'return': 'event', 'returnId' : app.request.get('eventId') }) }}">
                                            <span class="glyphicon glyphicon-floppy-save" aria-hidden="true" title="Add to watch"></span>
                                        </a>
                                        &nbsp;|&nbsp;
                                        <a class="glyphButton {% if comic.favourite %}active {% endif %}" href="{{ url('add_comic', {'comicId': comic.id, 'action': 'favourite', 'return': 'event', 'returnId' : app.request.get('eventId') }) }}">
                                            <span class="glyphicon glyphicon-heart-empty" aria-hidden="true" title="Add to favourites"></span>
                                        </a>
                                    </span>
                                </li>
                            {% endfor %}
                        </ul>
                        {{ include('elements/pagination.html.twig') }}
                    {% else %}
                        <div id="searchpage">
                            {%  include('elements/search-box.html.twig') %}
                        </div>
                    {% endif %}
                </div>
                {{ include('sidebar.html.twig') }}
            </div>
        </div>
    </div>
{% endblock %}

{% block title %}Comic Search - Marvel Unlimited Companion{% endblock %}