{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div class="container">
            <div id="welcome">
                <h1>Full Comic Search</h1>
                <h2>Search the Marvel API for comics</h2>
                <div class="panel panel-default">
                    <div class="panel-heading">Search</div>
                    <div class="panel-body">
                        {{ form_start(form) }}
                        {% form_theme form 'bootstrap_3_horizontal_layout.html.twig' %}
                        {{ form_widget(form) }}
                        {{ form_end(form) }}
                    </div>
                </div>
                {% if count is defined %}
                   <h3>Found {{ count }} comics</h3>
                    <ul class="list-group">
                        {% for comic in results  %}
                            <li class="list-group-item"><a href="">{{ comic.title }}</a></li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}

{% block title %}Search - Marvel Unlimited Companion{% endblock %}