{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div class="container">
            <div id="searchpage">
                {% if count is defined %}
                    {% if count > 0 %}
                        <h3>Found {{ count }} comics matching "{{ search }}"</h3>
                        <ul class="list-group">
                            {% for comic in comics  %}
                                <li class="list-group-item"><a href="{{ url('comic', {'comicId': comic.id}) }}">{{ comic.title }}</a></li>
                            {% endfor %}
                        </ul>
                    {% else %}
                        <h3>No results found for "{{ search }}"</h3>
                        {%  include('elements/search-box.html.twig') %}
                    {% endif %}
                {% else %}
                    {%  include('elements/search-box.html.twig') %}
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}

{% block title %}Search - Marvel Unlimited Companion{% endblock %}