{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div class="container">
            <div class="row">
                <div id="series" class="col-md-8">
                    {% if count is defined %}
                        {% if count > 0 %}
                            <h1>Found {{ total }} results matching "{{ search }}"</h1>
                            {{ include('elements/pagination.html.twig') }}
                            <ul class="list-group">
                                {% for book in results  %}
                                    <li class="list-group-item"><a href="{{ url(searchKind, { (searchKind~'Id') : book.id }) }}">{{ book.title }}</a></li>
                                {% endfor %}
                            </ul>
                            {{ include('elements/pagination.html.twig') }}
                        {% else %}
                             <div id="searchpage">
                                <h3>No results found for "{{ search }}"</h3>
                                {%  include('elements/search-box.html.twig') %}
                             </div>
                        {% endif %}
                    {% else %}
                        <div id="searchpage">
                            {%  include('elements/search-box.html.twig') %}
                        </div>
                    {% endif %}
                </div>
                {{ include('sidebar.html.twig') }}
            </div>
        </div>
    </div>
{% endblock %}

{% block title %}Search - Marvel Unlimited Companion{% endblock %}